<%- include('partials/header') %>
<%- include('partials/navbar') %>
    <div id="index" class="container-fluid">
    <div class="row h-100">
      <div class="col-6 my-auto">
        <h1 class="mb-5">Curate Playlists</h1>
        <form action="/boards/search" method="post">
        <div class="input-group">
          <% if(user){ %>
            <input type="text" class="form-control" name="query" placeholder="Enter artist, album, song name">
            <input type="hidden" name="id" value="<%= user._id %>">
            <div class="input-group-append">
              <button class="btn btn-dark">Search</button>
            </div>
          <% }else{%>
            <input type="text" class="form-control" placeholder="Please login first">
            <div class="input-group-append"></div>
            <button class="btn btn-dark">Login</button>
            </div>
          </div>
          <% } %>
        </div>
        </form>
      </div>
      </div>
    </div>
  </div>
  </body>
</html>
