body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: black;
}

a {
  color: #00B7FF;
}

#index {
  background-image: url('https://images.unsplash.com/photo-1511233002817-99325d7cc2d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
  background-blend-mode: multiply;
  background-color: rgba(213, 113, 99, .5);
  color:white;
  height:700px;
}

.navbar .navbar-nav li a{
  text-decoration: none;
  color: #CA5129;
  margin: 0px 5vmin 0px 0px;
}

.playlists tbody a{
  padding:10px;
  width:100%;
}

.tracks tbody :nth-child(2){
  width:8%!important;
  height: 60px;
}

.tracks tbody :nth-child(4){
  width:8%!important;
  height: 60px;
}

.tracks tbody button{
  padding:10px;
  width:25%;
  height: 60px;
}

.tracks tbody a{
  padding:10px;
  width:25%;
  height: 60px;
}

.tag-container {
  border: 2px solid #ccc;
  border-radius: 3px;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 6px;
  overflow-x: scroll;
}
.tag-container .tag {
  height: 30px;
  margin: 5px;
  padding: 8px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #2E3238;
  display: flex;
  align-items: center;
  color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
  cursor: default;
  border-radius:8px;
}
.tag i {
  font-size: 16px;
  color: white;
  margin-left: 5px;
  
}
.tag-container input {
  padding: 5px;
  font-size: 16px;
  border: 0;
  outline: none;
  color: black;
  flex: 1;
}

.image img{
  width: 100%;
  height: 50%;
}

.image p img{
  width: 100%;
  height: 50%;
}

.card-title {
  text-shadow: 5px 5px 5px black;
  color: white;
  font-family: Helvetica;
}